@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100 font-roboto;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.375rem;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #323238;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: #09090A;
  }
}