@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100 font-roboto;
}

ul {
  @apply list-disc;
}
ul ul {
  @apply list-circle;
}
ul ul ul {
  @apply list-square;
}
ol {
  @apply list-decimal;
}
ol ol{
  @apply list-roman;
}
ol ol ol{
  @apply list-alpha;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5vw;
    background-color: transparent;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #323238;
  }
  .scrollbar-code-border-radius::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
  }
}

@media (max-width: 640px) {
  .scrollbar::-webkit-scrollbar {
    width: 2vw;
    height: 2vw;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px){
  .scrollbar::-webkit-scrollbar {
    width: 1vw;
    height: 1vw;
  }
}
